version: "3.8"

services:
  deepseek-ocr:
    build: .
    container_name: deepseek-ocr
    ports:
      - "8004:8004"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [ "gpu" ]
    environment:
      - HF_HOME=/root/.cache/huggingface
      - PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True
    volumes:
      - ./capture:/app/capture

      # Map your local app.py to the container for live editing
      - ./app.py:/app/app.py

    restart: unless-stopped
    # Use reload flag so you don't even need to restart container for small changes
    command: [ "uvicorn", "app:app", "--host", "0.0.0.0", "--port", "8004", "--reload" ]