version: "3.8"

services:
  deepseek-ocr:
    build: .
    container_name: deepseek-ocr
    ports:
      - "8004:8004"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [ "gpu" ]
    environment:
      - HF_HOME=/root/.cache/huggingface
      - PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True
      - HUGGINGFACE_HUB_TOKEN
    volumes:
      # Cache: Share your existing Host HuggingFace cache to save download time
      - /home/amit/projects/.cache/huggingface:/root/.cache/huggingface

      # Input: Use local capture folder
      - ./capture:/app/capture

    restart: unless-stopped
    command: [ "uvicorn", "app:app", "--host", "0.0.0.0", "--port", "8004" ]
